* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Pagina de bienvenida */

.bienvenida {
  display: flex;
  background-color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

}

.bienvenida.oculto {
  display: none;
}

/* Cabecera */

header {
  display: none;
  justify-content: space-between;
  background: #EEE;
}

header.visible {
  display: flex;
}

.contadores {
  display: flex;
}

.contenedor-item {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.cabecera-titulo {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.cabecera-num {
  font-size: 2.2rem;
  line-height: 98%;
}

.contadores {
  position: relative;
}


/* Mesa y cartas*/

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.mesa {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  perspective: 500px;
  flex-wrap: wrap;
  margin: auto;
}

.carta {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.25), 4px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  background-color: red;
  margin: 0.5rem;
  /*Para voltear carta, esta es el frente*/
  position: relative;
  perspective: 500px;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 1s;
  backface-visibility: hidden;
}

.contenido-carta {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.25), 4px 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  /*Para voltearla carta, esta es la parte de atras*/
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.carta.descubierta {
  transform: rotateY(-180deg);
}

@keyframes error {

  10%,
  90% {
    transform: rotateY(-180deg) translateX(-1px);
  }

  20%,
  80% {
    transform: rotateY(-180deg) translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: rotateY(-180deg) translateX(-4px);
  }

  40%,
  60% {
    transform: rotateY(-180deg) translateX(4px);
  }
}

@keyframes acierto {
  from {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 1;
  }

  25% {
    transform: rotateY(-180deg) scale3d(1.1, 1.1, 1.1);
    opacity: 1;
  }

  to {
    transform: rotateY(-180deg) scale3d(1, 1, 1);
    opacity: 0;
  }
}

.acertada {
  pointer-events: none;
}

.acertada .contenido-carta {
  animation: acierto 1.3s ease-in-out forwards;
}

.error {
  animation: error 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

/* Paginas de ganar, perder y juego completado */

.feedback,
.gameover,
.juego-completado {
  background-color: red;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.feedback.visible,
.gameover.visible,
.juego-completado.visible {
  display: flex;
}

.modal {
  background-color: white;
  padding: 3rem 3rem 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
